<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Crachá Digital</title>
</head>
<body>
  <h1>Crachá Digital</h1>
  <p><strong>Nome:</strong> <%= nome %></p>
  <p><strong>Empresa:</strong> <%= empresa %></p>
  <p><strong>Motivo da Visita:</strong> <%= motivo %></p>
  <a href="/">Voltar</a>
</body>
</html>
