<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Fábrica de Software</title>
</head>
<body>
  <h1>Bem-vindo à Fábrica de Software</h1>
  <a href="/formulario">Registrar Visita</a>
</body>
</html>
